<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="scrollspy">

        {{ partial "nav.html" . }}

    <header class="section-panel pmd-z-depth">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                        <h1 class="center pmd-display3">Blog & Updates</h1>
                        <br></br>
                </div>
            </div>
		<div class="row">
			<div class="col-lg-12 left">
				series:
				{{ with .Params.series }}
				{{ if ge (len .) 1 }}
				    {{ range . }}
					<div class="pmd-chip pmd-chip-no-icon">
						<a href="{{ $.Site.BaseURL }}/series/{{ . | urlize }}">{{ . }}</a>
					</div>
				    {{ end }}
				{{ end }}
				{{ end}}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12 left">
				tags:
				{{ with .Params.tags }}
				{{ if ge (len .) 1 }}
				    {{ range . }}
					<div class="pmd-chip pmd-chip-no-icon">
						<a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
					</div>
				    {{ end }}
				{{ end }}
				{{ end}}
			</div>
		</div>
    </div>
    </header>

        <section class="body-panel">
            <div class="container">


		    <!-- Default card starts -->
			<div class="pmd-card pmd-card-default pmd-z-depth">
			    <div class="pmd-card-title">
				<h2 class="pmd-card-title-text">{{ .Title }}</h2>
				<span class="pmd-card-subtitle-text"> {{ .Date.Format "January 2, 2006" }} </span>
			    </div>

			    <!-- Card media -->
			    <div class="pmd-card-media center align center">
				<img src="{{ .Params.img }}" style="max-height: 30%; margin: 0 auto !important; text-align: center;" class="img-responsive center align-center">
			    </div>

			    <!-- Card body -->

			    <div class="pmd-card-body">
				{{ .Content }}
			    </div>

			</div>
			<!--Default card ends -->


		<div id="comments" class="scrollspy">
			{{ template "_internal/disqus.html" . }}
		</div>

            </div>
        </section>
	 <footer id="post-meta" class="clearfix section-panel">
                <div class="footer-above">
                    <div class="container">
                        <div class="row center text-center">
                            {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
                                    <img class="avatar center text-center" src="{{ .Site.BaseURL }}img/profile.png">
                                    <div>
                                        <span class="">{{ .Site.Params.name }}</span>
                                        <span>{{ .Site.Params.aboutAuthor }}</span>
                                    </div>
                            <div></div>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </footer>

        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
