{{ "<!-- Footer -->" | safeHTML }}
<section class="footer-panel pmd-z-depth">
	<footer class="admin-footer">
		<div class="container">
			<div class="row">
				<div class="center text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
					<h5>{{ with .Site.Params.footer.social.title }}{{.}}{{ end }}</h3>
					<div class="row center text-center">
							{{ range .Site.Params.footer.social.networks }}
								<a href="{{ .link }}" class="btn-social btn-outline">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
										<i class="fa fa-{{ .icon }} fa-stack-1x"></i>
									</span>
								</a>
							{{ end }}
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center text-center">
					<h5>{{ with .Site.Params.footer.credits.title }}{{.}}{{ end }}</h3>
					<p>{{ with .Site.Params.footer.credits.text }}{{ . | markdownify }}{{ end }}</p>
				</div>
			</div>
		</div>
	</footer>
	    <div class="footer-copyright">
		<div class="container">
		            {{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}
		</div>
	    </div>




	{{ "<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->" | safeHTML }}

		<!-- Floating Action Button like Google Material -->
	<div class="menu pmd-floating-action"  role="navigation">
		<a href="#page-top" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Top">
			<span class="pmd-floating-hidden">Top</span>
			<i class="material-icons">keyboard_arrow_up</i>
		</a>
		<a onclick="goBack()" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Back">
			<span class="pmd-floating-hidden">Back</span>
			<i class="material-icons">arrow_back</i>
		</a>
		<a data-target="#share" data-toggle="modal" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Share">
			<span class="pmd-floating-hidden">Share</span>
			<i class="material-icons">share</i>
		</a>
		<a  href="{{ .Permalink }}#comments"  class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="Comments">
			<span class="pmd-floating-hidden">Comments</span>
			<i class="material-icons">comment</i>
		</a>
		<a class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Options" href="javascript:void(0);">
			<span class="pmd-floating-hidden">Options</span>
			<i class="material-icons pmd-sm">more_vert</i>
		</a>
	</div>



	<!-- Icon Listing -->
		<div tabindex="-1" class="modal fade" id="share" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header pmd-modal-bordered">
						<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
						<h2 class="pmd-card-title-text">Share This Page</h2>
					</div>
					<div class="pmd-modal-list">
						<ul class="list-group pmd-list-icon">
							<li class="list-group-item center align-center">
								<a href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .Title }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"
									onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="secondary-content">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
										<i class="fa fa-twitter fa-stack-1x"></i>
									</span> Share on Twitter
								</a>
							</li>
							<li class="list-group-item center align-center">
								<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
	      								onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="secondary-content">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
										<i class="fa fa-facebook fa-stack-1x"></i>
									</span> Share on Facebook
								</a>
							</li>
							<li class="list-group-item center align-center">
								<a href="https://plus.google.com/share?url={{ .Permalink }}"
	     								onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="secondary-content">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
										<i class="fa fa-google-plus fa-stack-1x"></i>
									</span> Share on Google+
								</a>
							</li>
							<li class="list-group-item center align-center">
								<a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}
									&summary={{ .Description }}source={{ .Title }}"
									onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="secondary-content">
									<span class="fa-stack fa-2x">
										<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
										<i class="fa fa-linkedin fa-stack-1x"></i>
									</span> Share on LinkedIn
								</a>
							</li>
						</ul>
					</div>
					<div class="pmd-modal-action pmd-modal-bordered text-right">
						<button data-dismiss="modal"  class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button">Cancel</button>
					</div>
				</div>
			</div>
		</div>


	  <!-- Modal Structure -->
	  <div id="share" class="modal bottom-sheet">
	    <div class="modal-content">
	<ul class="collection">
		<li class="collection-item avatar">
			<i class="fa fa-twitter-square circle blue"></i>
			<span class="title">tweet this</span>
			<p>{{ .Title }}<br>
			 {{ .Description }}
			</p>
			<a href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .Title }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="secondary-content"><i class="material-icons">share</i></a>
		</li>
		<li class="collection-item avatar">
			<i class="fa fa-facebook-official circle blue darken-4"></i>
			<span class="title">share on facebook</span>
			<p>{{ .Title }}<br>
			 {{ .Description }}
			</p>
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
	      			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="secondary-content"><i class="material-icons">share</i></a>
		</li>
		<li class="collection-item avatar">
			<i class="fa fa-google-plus-square circle red darken-3"></i>
			<span class="title">share on Google+</span>
			<p>{{ .Title }}<br>
			 {{ .Description }}
			</p>
			<a href="https://plus.google.com/share?url={{ .Permalink }}"
	     onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="secondary-content"><i class="material-icons">share</i></a>
		</li>
		<li class="collection-item avatar">
			<i class="fa fa-linkedin-square circle blue darken-3"></i>
			<span class="title">share on LinkedIn</span>
			<p>{{ .Title }}<br>
			 {{ .Description }}
			</p>
			<a  href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}
				&summary={{ .Description }}source={{ .Title }}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="secondary-content"><i class="material-icons">share</i></a>
		</li>
	</ul>
	    </div>
	  </div>
</section>
