<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="page-top" class="scrollspy">

		{{ partial "nav.html" . }}
	<header class="section-panel pmd-z-depth">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				        <h1 class="pmd-display3">{{ with .Site.Params.title404 }}{{ . }}{{ else }}404 - Page not found{{ end }}</h1>
				        <h3>{{ with .Site.Params.subtitle404 }}{{ . }}{{ else }}The content you're looking for doesn't seem to exist.{{ end }}</h3>
				</div>
			</div>
		</div>
        </header>
        <div class="container">
		<section class="body-panel">
			<div class="card-column">
                {{ partial "latest-posts.html" . }}
			</div>
            	</section>
        </div>
			{{ partial "footer.html" . }}
			{{ partial "modals.html" . }}
			{{ partial "js.html" . }}
	</body>
</html>
