<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="page-top" class="scrollspy">

		{{ partial "nav.html" . }}
		<header class="section-panel pmd-z-depth">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="center pmd-display3">Blog & Updates</h1>
					</div>
				</div>
                        	<br></br>
				<div class="row">
					<div class="col-lg-12 left">
						series:
						{{ range $name, $taxonomy := .Site.Taxonomies.series }}
						<div class="pmd-chip pmd-chip-no-icon">
							<a href="{{ "/series/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
						</div>
						{{ end}}
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<section class="body-panel">
				<div class="card-column">
					{{ range .Paginator.Pages.ByPublishDate }}

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<!--Media, Title, and Action Area -->
						<div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">

							<!-- Card media-->
						    <div class="pmd-card-media">
						    	<!-- Card media heading -->
							<div class="media-body">
							    <h2 class="pmd-card-title-text">{{ .Title }}</h2>
							    <span class="pmd-card-subtitle-text">Published on: {{ .Date.Format "2006-01-02" }}</span>
							</div>

							<!-- Card media image -->
							<div class="media-right media-middle">
							    <a href="javascript:void(0);">
								<img width="80" height="80" src="{{ .Params.img }}">
							    </a>
							</div>
						    </div>
						    <!-- Card action -->
						    <div class="pmd-card-actions">
							<button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button"  onclick="location.href='{{ .Permalink }}';">Read More</button>
						    </div>
						</div>
					</div>

					<!--Default card ends -->
					{{ end }}
				</div>
			</section>
			</div>
			{{ partial "footer.html" . }}
			{{ partial "modals.html" . }}
			{{ partial "js.html" . }}
	</body>
</html>
